* {
  margin: 0;
  padding: 0;
}

.store_name {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-right: 200px;
  margin-left: 100px;

  @media (max-width: 1024px) {
    font-size: 20px;
    margin-left: 200px;
    margin-right: 100px;
  }
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;

  li {
    list-style: none;
    font-size: 18px;
    font-family: sans-serif;
    @media (max-width: 1024px) {
      font-size: 12px;
    }
    @media (max-width: 768px) {
      font-size: 10px;
    }
    .svg {
      @media (max-width: 1024px) {
        margin: 0px 10px 0px 10px;
      }
    }
    .svg_user {
      margin-right: 100px;
      @media (max-width: 1024px) {
        margin-right: 200px;
      }
    }
    .svg_search {
      transform: 0;
      margin-left: 200px;
      @media (max-width: 1024px) {
        margin-left: 50px;
      }
    }
  }
}

.store_item {
  color: black;
  padding: 10px;
  border: 2px solid #00000000;
  border-radius: 35px;
  @media (max-width: 1024px) {
    padding: 8px;
  }
  @media (max-width: 768px) {
    padding: 5px;
  }
}

.store_item:hover {
  cursor: pointer;
  padding: 10px;
  border-radius: 35px;
  border: 2px solid black;
  @media (max-width: 1024px) {
    padding: 8px;
  }
  @media (max-width: 768px) {
    padding: 5px;
  }
}
